<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="srt.studentmanage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.Main2Activity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.activities.XemThoiKhoaBieuActivity"
            android:label="@string/title_activity_xem_tkb" />
        <activity android:name=".ui.activities.XemDiemActivity" />
        <activity android:name=".ui.activities.XemTinDaoTaoActivity" />
        <activity android:name=".ui.activities.ChiTietDaoTaoActivity"></activity>
    </application>

</manifest>